# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Isa\Desktop\GO\recipesAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
modules.xml
vcs.xml
recipesAPI.iml
workspace.xml
